{#
  Title: Testimonial
  Description: Customer testimonial
  Category: formatting
  Context: side
  Icon: admin-comments
  Keywords: testimonial quote "customer testimonial"
  Mode: preview
  Align: center
  PostTypes: page post
  SupportsAlign: left right center
  SupportsMode: false
  SupportsMultiple: true
  Example: { "testimonial": "Testimonials", "author": "John Doe" }
  Fields: [{ "type" : "wysiwyg" , "id" : "testimonial" , "name": "Testimonial", "raw" : false , "options" : { "textarea_rows": 4 , "teeny": true }  },{ "type" : "color" , "id" : "background_color" , "name" : "Background Color" },{ "type" : "color" , "id" : "text_color" , "name" : "Text Color" }]
#}

<div class="uk-tile uk-tile-primary" data-{{ block.id }}>
    <p>{{ block.testimonial }}</p>
    <cite>
      <span>{{ block.author }}</span>
    </cite>
</div>
<style type="text/css">
  [data-{{ block.id }}] {
    background: {{ block.background_color|default( '#ff0000' ) }};
    color: {{ block.text_color|default( '#ffffff' ) }};
  }
</style>